{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Create" %}{% endblock title %}
{% block content %}
<h3>{{ teststask.category }}</h3>
<h3>{{ teststask.title }}</h3>
<div class="card">
	<div class="card-body">
		<h4 class="card-title">{% trans 'Create' %}</h4>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				{{ form }}
			</table>
			<button type="submit" class="btn btn-outline-success" style="width:120px">{% trans "Save" %}</button>
			<a class="btn btn-outline-info" style="width:120px" href="{% url 'question_index' teststask_id %}">{% trans "Back" %}</a>    	
		</form>
	</div>
</div>
<script type="text/javascript">
	$(".chosen").chosen();
</script>
{% endblock content %}