{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "protocols" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row">
	<h3>{% trans "tests" %}</h3>
</div>
{% if protocol.count > 0 %}
<div class="row">
	<table id="myTable" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "datep" %}</th>
				<th>{% trans "user" %}</th>
				<th>{% trans "teststask" %}</th>
				<th>{% trans "result" %}</th>
				<th>{% trans "details" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for p in protocol %}
			<tr>
				<td>{{ p.datep| date:"d.m.Y" }}</td>
				<td>{{ p.user }}</td>
				<td>{{ p.teststask }}</td>
				<td>{{ p.result }}</td>
				<td>{{ p.details }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<div class="row">
	<h3>{% trans "decisions" %}</h3>
</div>
{% if decision.count > 0 %}
<div class="row">
	<table id="myTable2" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "dated" %}</th>
				<th>{% trans "user" %}</th>
				<th>{% trans "title" %}</th>
				<th>{% trans "solution" %}</th>
				<th>{% trans "rating" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for p in decision %}
			<tr>
				<td>{{ p.dated| date:"d.m.Y" }}</td>
				<td>{{ p.user }}</td>
				<td>{{ p.title }}</td>
				<td>{{ p.solution }}</td>
				<td>
				{% if p.rating != None %}
					{{ p.rating }}
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}


{% endblock content %}

