{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h1 align="center">{% trans "contacts" %}</h1>
		<address>
			<a href="https://www.erg.kz/ru/content/ao-alyuminiy-kazahstana/ao-alyuminiy-kazahstana">АО «Алюминий Казахстана»</a>			
		</address>				
		<p><a href="tel:+97694099788">+976 9409 9788</a><p>
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.297594321792!2d77.04280251579763!3d52.25614077976502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42f9cb8f8e61ae99%3A0xc0f1252d4f8f9372!2z0J_QsNCy0LvQvtC00LDRgNGB0LrQuNC5INCQ0LvRjtC80LjQvdC40LXQstGL0Lkg0JfQsNCy0L7QtC4g0JDQniAi0JDQu9GO0LzQuNC90LjQuSDQmtCw0LfQsNGF0YHRgtCw0L3QsCI!5e0!3m2!1sru!2skz!4v1685161143420!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}