{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<h1 align="center">{% trans "videos" %}</h1>
<div class="row">
	<h1>Общие понятия, принципы и нормы безопасности и охраны труда в РК</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/y2jbVmZDJVQ"></iframe>		
</div>
<div class="row">
	<h1>Как правильно заполнять журналы по Безопасности и охране труда?</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/VFU5xJLfEmQ"></iframe>	
</div>
<div class="row">
	<h1>Учебный видеоролик по безопасности и охране труда</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/gREgdbmgWQ0"></iframe>	
</div>
{% endblock content %}